@model IEnumerable<Model.Cart.CartItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddProduto", "Cart", new { area = "Cart" }, FormMethod.Post, new { id = "formCart" } ) )
{

    @Html.AntiForgeryToken()

    <div class="panel panel-primary">

        <div class="panel-heading">
            Seleção de itens para o carrinho de compra
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <div class="col-md-1">
                    <div class="form-group">
                        @Html.Label("Id")
                        @Html.TextBox("id", "", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        Digite o nome do produto e confirme a inserção
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="form-group">
                        @Html.Label("Produto para pesquisar ")
                        @Html.TextBox("value", "",
                                        new
                                        {
                                            @class = "form-control autocomplete-with-update-field",
                                            data_updatefield = "id",
                                            data_url = Url.Action("GetProdutosPorNome", "Produtos", new { Area = "Registry" })
                                        })
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="form-group" style="text-align:center;">
                        <input id="SubmitForm" type="submit" value="Adicionar produto ao carrinho" class="btn btn-success" />
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="panel panel-primary">
    
        <div class="panel-body">
        
            <div class="col-md-12">
                <!-- COMENTÁRIO 2: O DIV A SEGUIR TERÁ SEU CONTEÚDO ATUALIZADO VIA
                    AJAX A CADA INSERÇÃO DE ITEM NO CARRINHO -->
                <div id="cartitems">
                    @Html.Partial("~/Areas/Cart/Views/Cart/_CartItems.cshtml", Model)
                </div>
            
            </div>
        
        </div>
    </div>

}

@section styles{
    <link href="~/scripts/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
}


@section ScriptPage {


    <script src="~/scripts/jquery-ui-1.12.1/jquery-ui.js"></script>
    <!--<script src="~/scripts/jquery-1.10.2.intellisense.js"></script>-->
    <!--<script src="~/scripts/jquery-1.10.2.js"></script>-->

    <script type="text/javascript">


            $(document).ready(function () {
                $('li').removeClass("active");
                $('#liCart').addClass("active");
            });


            $(document).ready(function (response, status, xhr) {
                
                $('.autocomplete-with-update-field').autocomplete({

                    minLength: 5,
                    source: function (request, response) {

                        var url = $(this.element).data('url');
                        
                        $.getJSON(url, { param: request.term }, function (data) {
                            //alert(1 + data[0].label);
                            response(data);
                        });
                    },

                    select: function (event, ui) {
                        var updatefield = '#' + $("#" + event.target.id).data('updatefield');
                        $(updatefield).val(ui.item.id);
                        setTimeout(function () {
                            $(updatefield).focus();
                        }, 200);
                    },

                    change: function (event, ui) {
                        //if (!ui.item) {
                        //    $('#Endereco_Cep').val('');
                        //}
                    }
                });


            });


            $(document).ajaxSuccess(function () {

                $('.autocomplete-with-update-field').autocomplete({
                    minLength: 5,
                    source: function (request, response) {

                        var url = $(this.element).data('url');

                        $.getJSON(url, { param: request.term }, function (data) {
                            response(data);
                            //alert(2 + data[0].label);
                        });
                    },

                    select: function (event, ui) {

                        var updatefield = '#' + $("#" + event.target.id).data('updatefield');
                        //alert(ui.item.value);
                        $(updatefield).val(ui.item.id);

                        setTimeout(function () {
                            $(updatefield).focus();
                        }, 200);
                    },

                    change: function (event, ui) {
                        //if (!ui.item) {
                        //    $('#Endereco_Cep').val('');
                        //}
                    }
                });

            });
    </script>
}